

.azeret-mono-normal{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/*nav styles*/

  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 100px;
    padding-bottom: 30px;

}
.titel{
    font-size: 28px;
    font-weight: bold;

}
.btn-prymary{
    font-weight: bold;
padding: 17px 24px;
border-radius:8px ;
}
/*banner style*/

.banner-img{
    display: flex;
    justify-content: center;
    align-items: center;

}
.banner{
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;  
}
.banner-content{
    text-align: center;
    margin: 0px 200px;
}
.banner-title{
    font-size: 48px;
    font-weight: bolder;
    padding-top: 32px;
    
}
.banner-description{
    font-size: 16px;
   padding-bottom: 24px;
}
.btn-contact{
    background-color: rgba(13, 19, 33, 1);
    color: #FFFFFF;
    font-weight: bold;
    padding: 24px 21px;
    border-radius:8px;
    
}

.web-development-hadding{
    text-align: center;
}
.section-titel{
    font-size: 32px;
}
.section-description{
    font-size: 16px;
}
.Layer-one{
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
      
}
.Layer-two{
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
      
}


.Layer-titel{
    font-size: 24px;
    padding-bottom: 16px;
   margin-right:250px;
}
.Layer-description{
    font-size: 16;
    padding-bottom: 32px;
    margin-right:250px;
}
.btn-Layer{
    font-weight: bold;
    padding: 12px 20px;
    border-radius:8px ;
    
    
}
.web-development{
    margin: 80px 230px;
}
/*section two*/
.two{
    text-align: center;
}
.inspiration{
    font-size: 32px;
    font-weight: bolder;
    padding-bottom: 24px;

}
.inspiration-description{
    font-size: 16px;
    padding-bottom:48px ;
    
}
.yt-link{
    box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.2);
border-radius: 16px;
margin: 0px 230px;
padding: 16px;
}

/*section three*/
.skills-container{
    display: flex; 

    gap: 24px;
    margin: 0px 250px; 
}

.text-center-hadding{
    text-align: center;
    font-size: 32px;
    font-weight: bolder;
    padding-bottom: 24px;
    
}
.text-center-description{
    font-size: 16px;
    padding-bottom:48px ;
    text-align: center;
}

.markup{
    margin: 0px 250px; 
}
.bgfor-skill{
    background-color: rgba(255, 76, 30, 0.05);
    padding: 40px;
    border-radius: 16px;

}
.bg-skill{
background-color:rgba(0, 76, 232, 0.05);
padding: 40px;
border-radius: 16px;


}
.bg-three{
   background-color: rgba(255, 223, 0, 0.05);
   padding: 40px;
   border-radius: 16px;
   
}
.larn{
    text-decoration-line: underline;
}










